@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply box-border;
  }

  :root {
    --color-primary: 70, 66, 75, 1;
    --color-secondary: 93, 31, 206, 1;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }
}
